.main-cells {
    padding-right: 50px;
    text-align: right;
}

.sec-cells {
    padding-left: 50px;
    text-align: left;
}

.reg-bg:hover {
    border: 1px;
}

.upp:hover {
    border: 1px;
}

#main {
    position: relative;
    bottom: 471px;
	left: 730px;
}
/*
#news-holder {
    margin-right: 1000px;
}
*/
#upp-loc {
    position: relative;
    left: 550px;
    bottom: 1250px;
}
#news-location {
    position: relative;
    left: 280px;
    bottom: 2025px;
}
#grain-own-tag {
    visibility: hidden;
}
.hide {
    visibility: hidden;
}
#milk-own-tag {
    visibility: hidden;
}
#rice-own-tag {
    visibility: hidden;
}
#tomato-own-tag {
    visibility: hidden;
}
#ras-own-tag {
    visibility: hidden;
}
#peach-own-tag {
    visibility: hidden;
}
#peach-own-tag {
    visibility: hidden;
}
#appl-own-tag {
    visibility: hidden;
}
#harvest {
    visibility: hidden;
}
#rain-own-tag {
    visibility: hidden;
}
#bio-own-tag {
    visibility: hidden;
}
#star-own-tag {
    visibility: hidden;
}
#coco-own-tag {
    visibility: hidden;
}
body {
    font-family: "Lucida Console", monospace;
    background-image: url(bg.png);
    /*opacity: ;*/
}
#gold {
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
    visibility: hidden;
}
.reg-bg {
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
}
#appl {
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
    visibility: hidden;
}
#gold-own-tag {
    visibility: hidden;
}
#chic-own-tag {
    visibility: hidden;
}
#upgrade {
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
}
#save {
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
}
#load {
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
}
#milk {
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
    font-size: 14px;
}

#tomato {
    visibility: hidden;
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
    font-size: 14px;
}

#peach {
    visibility: hidden;
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
    font-size: 14px;
}
#chic {
    visibility: hidden;
    font-size: 14px;
    background-color: rgb(151, 142, 142);
    border-radius: 10px;
}
#grain {
    visibility: hidden;
    font-size: 14px;
    background-color: rgb(151, 142, 142);
    border-radius: 10px;
}
#rain {
    visibility: hidden;
    font-size: 14px;
    background-color: rgb(151, 142, 142);
    border-radius: 10px;
}
#star {
    visibility: hidden;
    font-size: 14px;
    background-color: rgb(151, 142, 142);
    border-radius: 10px;
}
#bio {
    visibility: hidden;
    font-size: 14px;
    background-color: rgb(151, 142, 142);
    border-radius: 10px;
}
#coco {
    visibility: hidden;
    font-size: 14px;
    background-color: rgb(151, 142, 142);
    border-radius: 10px;
}
.borderless {
    border: none;
    background: none;
}
#click-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}
#total-money {
    position: relative;
    /*text-align: center;*/
}
/*
table {
	border-collapse: collapse;
	position: relative;
	left: 300px;
	bottom: 460px;
}
*/
tr,td {
	padding: 0;
}
/*
body {
    font-family: "Lucida Console", monospace;
    background-image: url(bg.png)
}
*/
#upgrade {
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
}
#milk {
    visibility: hidden;
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
    font-size: 14px;
}
#rice {
    visibility: hidden;
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
    font-size: 14px;
}

#ras {
    visibility: hidden;
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
    font-size: 14px;
}

#chic {
    font-size: 14px;
    background-color: rgb(151, 142, 142);
    border-radius: 10px;
}
#grain {
    font-size: 14px;
    background-color: rgb(151, 142, 142);
    border-radius: 10px;
}
.borderless {
    border: none;
    background: none;
}
#click-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}
#total-money {
    position: relative;
    /*text-align: center;*/
}
