#main {
    position: relative;
    bottom: 467px;
    border-collapse: collapse;
	left: 300px;
}
/*
#news-holder {
    margin-right: 1000px;
}
*/
#news-location {
    position: relative;
    left: 960px;
    bottom: 977px;
}
#grain-own-tag {
    visibility: hidden;
}
#milk-own-tag {
    visibility: hidden;
}
#rice-own-tag {
    visibility: hidden;
}
#tomato-own-tag {
    visibility: hidden;
}
#ras-own-tag {
    visibility: hidden;
}
#peach-own-tag {
    visibility: hidden;
}
#peach-own-tag {
    visibility: hidden;
}
#harvest {
    visibility: hidden;
}

body {
    font-family: "Lucida Console", monospace;
    background-image: url(bg.png);
    /*opacity: ;*/
}
#gold {
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
    visibility: hidden;
}
#gold-own-tag {
    visibility: hidden;
}
#chic-own-tag {
    visibility: hidden;
}
#upgrade {
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
}
#save {
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
}
#load {
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
}
#milk {
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
    font-size: 14px;
}

#tomato {
    visibility: hidden;
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
    font-size: 14px;
}

#peach {
    visibility: hidden;
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
    font-size: 14px;
}
#chic {
    visibility: hidden;
    font-size: 14px;
    background-color: rgb(151, 142, 142);
    border-radius: 10px;
}
#grain {
    visibility: hidden;
    font-size: 14px;
    background-color: rgb(151, 142, 142);
    border-radius: 10px;
}
.borderless {
    border: none;
    background: none;
}
#click-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}
#total-money {
    position: relative;
    /*text-align: center;*/
}
/*
table {
	border-collapse: collapse;
	position: relative;
	left: 300px;
	bottom: 460px;
}
*/
tr,td {
	padding: 0;
}
/*
body {
    font-family: "Lucida Console", monospace;
    background-image: url(bg.png)
}
*/
#upgrade {
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
}
#milk {
    visibility: hidden;
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
    font-size: 14px;
}
#rice {
    visibility: hidden;
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
    font-size: 14px;
}

#ras {
    visibility: hidden;
    border-radius: 10px;
    background-color: rgb(151, 142, 142);
    font-size: 14px;
}

#chic {
    font-size: 14px;
    background-color: rgb(151, 142, 142);
    border-radius: 10px;
}
#grain {
    font-size: 14px;
    background-color: rgb(151, 142, 142);
    border-radius: 10px;
}
.borderless {
    border: none;
    background: none;
}
#click-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}
#total-money {
    position: relative;
    /*text-align: center;*/
}
